<div class="container">
    <div class="header">
      <h1>Welcome to Fotobook 📸</h1>
    </div>

    <div class="content">
      <h2>Hi <%="#{@user.fname} #{@user.lname}" %>!</h2>
      <p>Thanks for signing up for <strong>Fotobook</strong>, the easiest way to store, share, and relive your favorite memories with albums and photos.</p>
      <p>Start uploading your first photo and invite your friends to join you!</p>
      <a href="<%= @root_url %>" class="cta-button">Get Started</a>
    </div>

    <div class="footer">
      You're receiving this email because you created an account on Fotobook.<br>
      &copy; 2025 Fotobook Inc. All rights reserved.
    </div>
  </div>