<%= turbo_frame_tag "search", data: { controller: "push-url", action: "turbo:frame-load->push-url#update" } do%>
<% content_for :title, "Seach Albums/Photos" %>

<!-- Main tabs: need js update url as using Turbo -->
<div class="container-fluid main-tabs d-flex justify-content-center mb-3 mt-1 sticky-top" >
    <div class="btn-group custom">
        <%= link_to t('button.photo.one'), search_photos_path(q: @search),
            class: "#{highlight_active_tab("photos")} tab-btn d-flex align-items-center justify-content-center"%>

        <%= link_to t('button.album.one'), search_albums_path(q: @search),
            class: "#{highlight_active_tab("albums")} tab-btn d-flex align-items-center justify-content-center"%>

    </div>
</div>

<%= render partial: "layouts/post/post", locals: {posts: @results, is_photo: @is_photo} %>
<% end %>