.auth-form-container {
    background-image: url('wallpaper.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100%;
    z-index: -1;
    padding: 50px 0;
}

.auth-form-container .card {
    min-width: 60%; 
}

.auth-form-container h1 {
    color: var(--dark-blue)
}

.auth-form-container .card {
    background-color: var(--form-color);
    height: fit-content;
}

.social-login img {
    width: 50px;
    height: auto;
}

.social-login img:hover {
    box-shadow: 0 3px 10px rgba(10, 13, 101, 0.4);
    border-radius: 50%;
}

.auth-form {
    overflow-y: auto;
}

.auth-form-container p i {
    color: var(--dark-blue);
}

.auth-form-container label {
    margin-bottom: 10px;
    font-weight: 500;
}

.auth-form-container hr {
    color: black;
}

.pw-field {
    position: relative;
}

.pw-field input {
    width: 100%;
    padding-right: 30px;
}

.togglePw {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 20px;
    cursor: pointer;
}

.custom-link {
    color: var(--dark-blue);
    font-size: 1.1rem;
    font-style: italic;
}

.custom-link:hover {
    text-decoration: underline;
}

.error {
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(198, 4, 4);
}