.profile-form-container h1 {
    font-size: 2rem;
}

.profile-form-container h2 {
    font-size: 1.5rem;
    color: var(--dark-blue);
    font-weight: bold;
    margin-top: 20px;
}


.change-avatar {
    position: relative;
    width: 30%;
    min-width: 180px;
}

.change-avatar img {
    width: 100%;
    height: auto;
}

.change-avatar.fake img {
    border: 2px solid var(--dark-blue);
    border-radius: 50%;
}

.change-btn {
    width: 80%;
    position: absolute;
    bottom: 1px;
    z-index: 2;
    right: 1px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    opacity: 0.5;
}

.change-btn:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.form-group label {
    min-width: fit-content
}

.save.custom-primary-btn {
    background-color: var(--green);
}

.save.custom-primary-btn:hover {
    background-color: var(--green-hover);
}

.delete-btn {
    background-color: rgba(177, 86, 86, 0.815);
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: red;
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .save.custom-primary-btn, .delete-btn {
        padding: 5px 15px;
    }
}