.main-tabs {
    background-image: linear-gradient(to bottom, white, white, rgba(255, 255, 255, 0.9));
    padding: 10px 0;
    z-index: 9996
}


.tab-btn {
    border: 2px solid var(--dark-blue);
    padding: 5px 15px;
    color: var(--dark-blue);
    background-color: white;
    font-weight: bold;
    min-width: 100px;
}

.tab-btn.active {
    border: none;
    background-color: var(--dark-blue);
    color: white;
    opacity: 1;
}

.tab-btn:hover {
    border-color: var(--primary-btn-hover);
    color: var(--primary-btn-hover);
    background-color: white;
}

.tab-btn.active:hover {
    background-color: var(--primary-btn-hover);
    border-color: var(--primary-btn-hover);
    color: white;
}