.general-info {
    font-size: 0.9rem;
}

.profile-avatar {
    border-radius: 50%;
    width: 15%;
    min-width: 100px;
}

.edit-profile-btn {
    width: fit-content;
    border: 2px solid var(--dark-blue);
    background-color: transparent;
    color: var(--dark-blue);
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 30px;
    font-size: 0.8em
}

.general-info h1 {
    font-size: 1.8em;
    margin: 0;
    font-weight: bold;      
}

.profile-tab-btn {
    display: flex;
    align-items: baseline;
    gap: 10px;
    background-color: transparent;
    color: var(--dark-blue);
    font-weight: medium;
    color: var(--muted);
    border: none;
    position: relative;
    padding-right: 20px;
}

.profile-tab-btn:not(:last-child)::after {
    content: ''; /* Pseudo-elements must have content */
    position: absolute;
    right: 0;
    top: 50%; /* Center it vertically */
    transform: translateY(-50%);
    height: 40%;
    width: 1px; 
    background-color: var(--muted);
}

.profile-tab-btn.active {
    color: var(--dark-blue);
    font-weight: bold;
}

.profile-tab-btn:hover {
    color: var(--primary-btn-hover);
}

.profile-edit-btn {
    border-radius: 35px;
    border: none;
    color: white;
    background-color: var(--green);
    padding: 8px 25px;
    font-weight: bold;
}

.profile-edit-btn:hover {
    background-color: var(--green-hover)
}

/* PHOTO TAB */
.profile-tab-view {
    row-gap: 1.5rem;
}

.tab-item {
    cursor: pointer;
    width: 20%;
    overflow: hidden;
    border: 1px solid whitesmoke;
}

.tab-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.img-div {
    position: relative;
    width: 100%;
}

.tab-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-photo-btn{
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.edit-photo-btn button, .edit-album-btn button{
    border: none;
    font-size: 0.8em;
    background-color: var(--black-transparent);
    color: rgb(218, 218, 218);
    padding: 3px 9px;
    border-radius: 30px;
}

.edit-photo-btn button:hover, .edit-album-btn button:hover {
    background-color: black;
    color: white;
}

.lock-icon, .lock-icon-album {
    position: absolute;
    top: 2px;
    right: 2px;
    color: black;
    background-color: white;
    padding: 5px;
    font-size: 0.8em;
    border-radius: 50%;
}

.photo-title {
    font-size: 0.8rem;
    -webkit-line-clamp: 2;
    text-align: center !important;
}

/* ALBUM TAB */
.album-profile {
    position: relative;
    margin: 15px 10px 0 20px;
    aspect-ratio: 1 / 1; /* Makes it a square. Change to 4/3 or 16/9 if you want */
    min-height: 120px;
}


.edit-album-btn {
    position: absolute;
    z-index: 4;
    right: 4px;
    bottom: 2px;
}

.lock-icon-album {
    position: absolute;
    top: 6px;
    right: 4px;
    z-index: 4;
}

.photos-count {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%; 
    border-radius: 50%;
    background-color: var(--black-transparent);
    color: white;
    z-index: 4;           /* Ensure it's above the images */
    padding: 20px;            /* Remove extra padding */
}

.number {
    font-size: 1.8em;
    font-weight: bold;
}

/* FOLLOWING TAB */
.follow.tab-item {
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgb(221, 221, 221);
}

.follow.tab-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.follow.tab-item button {
    margin: 0 !important;
    font-size: 0.9rem;
}

.follow.tab-item .avatar {
    width: 60%;
    aspect-ratio: 1/1;
}

.follow.tab-item .username {
    color: #4F4F4F;
    font-weight: bold;
    -webkit-line-clamp: 2;
}

.extra-info {
    color: var(--dark-blue);
    font-size: 0.8rem;
}



/* RESPONSIVE STYLES */
@media screen and (max-width: 992px) {
    .tab-item {
        width: 23%
    }
    .tab-item.album {
        width: 20%;
    }
    .follow.tab-item {
        width: 19%;
    }
}

@media screen and (max-width: 768px) {
    .tab-item {
        width: 30%
    }

    .tab-item.album, .follow.tab-item {
        width: 25%
    }
    .follow.tab-item .avatar {
        width: 70%;
        aspect-ratio: 1/1;
    }
    .profile-tab-btn {
        padding-right: 12px;
        gap: 7px;
    }
}

@media screen and (max-width: 576px) {
    .tab-item, .tab-item.album {
        width: 40%
    }

    .follow.tab-item {
        width: 30%;
    }
}