.custom-sidebar {
    flex: 1;
    height: 100vh;
    position: sticky;
    font-size: 0.9rem
}

.custom-sidebar.welcome {
    background-image: url('welcome.png') ;
    background-size:130% 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-sidebar .offcanvas-body {
    padding: 0 10px 0;
}

.custom-sidebar.responsive {
    border-right: 1px solid #dee2e6;
    background-color: #f8f9fa;
    width: 200px !important;
    position: absolute;
}

.sidebar-link {
    color: var(--muted) !important;
    padding: 10px;
    margin: 4px 0;
    transition: all 0.1s ease;
}

.sidebar-link:hover {
    color: var(--dark-blue) !important;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}

.sidebar-toggle-btn {
    margin-top: 20px;
    position: fixed;
    left: 0;
    z-index: 9998;
    font-size: 2rem;
    border: none;
    background-color: transparent;
}

.offcanvas.responsive {
    z-index: 9999;
}
