<div class="container-fluid main-tabs d-flex justify-content-center mb-5 mt-1 sticky-top">
    <div class="btn-group custom">
        <button class="tab-btn active text-uppercase"><%=t('button.photo') %></button>
        <button class="tab-btn text-uppercase"><%=t('button.album') %></button>
    </div>
</div>

