<div class="container-fluid main-tabs d-flex justify-content-center mb-3 mt-1 sticky-top">
    <div class="btn-group custom">
        <button class="tab-btn active text-uppercase"><%=t('button.photo.one') %></button>
        <button class="tab-btn text-uppercase"><%=t('button.album.one') %></button>
    </div>
</div>

